body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #f4f4f4;
    padding: 10px 0;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.banner {
    width: 500px;
    max-width: 66.66%;
    border: none;
    margin: 0;
}

.header-text {
    width: 33.33%;
    padding-left: 10px;
    text-align: left;
}

.container {
    width: 80%;
    margin: 20px auto;
}

h2 {
    text-align: left;
    font-weight: 700;
    margin-left: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
