body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fff; /* White background color */
    color: #000; /* Black text color */
}

.top-header {
    background-color: #000; /* Black background color for top header */
    color: #fff; /* White text color for top header */
    text-align: center;
    padding: 5px 0;
    position: relative;
}

.top-header .blog-link {
    color: #fff;
    text-decoration: none;
    background-color: #444; /* Dark gray background color for the blog link */
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}

header {
    background: #f4f4f4;
    padding: 10px 0;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.banner {
    width: 500px;
    max-width: 66.66%;
    border: none;
    margin: 0;
    padding: 0;
}

.header-text {
    width: 33.33%;
    padding-left: 10px;
    text-align: left;
}

.container {
    width: 80%;
    margin: 20px auto;
}

h2 {
    text-align: left;
    font-weight: 700;
    margin-left: 10px;
}

p{
    margin-left: 10px;
    text-align: left;
}

.timeline-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.timeline-table th, .timeline-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.timeline-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.timeline-table ul {
    padding-left: 20px;
    list-style-type: disc;
}

.timeline-table ul ul {
    list-style-type: circle;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Style the favicon as circular */
link[rel="icon"] {
    border-radius: 50%;
}